### IDEA project files
.idea
*.iml
*.ipr
*.iws

### Gradle template
.gradle
/out
/classes
build/
out/
ServiceTreeInfo/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar


